target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.metadata
local.properties
.project
.classpath
.settings/
.loadpath
.pmd
*.iml
.idea
